# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.class
*.o.d
*.ncb
*.suo
*.user
*.obj
bin/
gen/
libs/
[Dd]ebug/
[Rr]elease/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
